Repository minerva-university/cs162-hc-history, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akakileti, @ozcanmiraay, @Rawan-Khalifa, @Priscillabirago, @linaelatik, @haaaaaaaaaayk, @tanatswajulius

ci: add reviewer assignment and notification workflow
  .github/workflows/ci.yml
Owners: none

added final course scores
  backend/main.py
  backend/schema.sql
Owners: @akakileti, @ozcanmiraay, @Rawan-Khalifa

fix: adjustedtest_setup.py to account for the changes in setup.py
  tests/test_setup.py
Owners: @akakileti, @ozcanmiraay, @Rawan-Khalifa

chore: added README file for tests dir
  tests/README.md
Owners: @akakileti, @ozcanmiraay, @Rawan-Khalifa

updating icons and class comparison graph
  frontend/feedback-platform.tsx
Owners: @Priscillabirago, @linaelatik, @haaaaaaaaaayk, @tanatswajulius

cleaning up feedback platform
  frontend/feedback-platform.tsx
Owners: @Priscillabirago, @linaelatik, @haaaaaaaaaayk, @tanatswajulius

.github/CODEOWNERS:

# Backend 
/backend/           @akakileti @ozcanmiraay @Rawan-Khalifa

# AI Summary files
/ai-summary/        @ozcanmiraay @akakileti @Rawan-Khalifa

# Frontend files
/frontend/          @Priscillabirago @linaelatik @haaaaaaaaaayk @tanatswajulius

# Test files
/tests/             @akakileti @ozcanmiraay @Rawan-Khalifa
